body{
	margin-bottom: 1em;
	font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  -webkit-font-smoothing: antialiased !important;
}

.weather {
	&-box {
		border: 2px solid transparent;
		background-clip: padding-box;
		padding: 1px;
		text-align: center;
		background-color: #BCBCBC;
		min-height: 200px;
	}
	&-now {
		h3 {
			text-align: right;
			padding-right: 20px;
			font-size: 15px;
		}
		.now-temp {
			font-size: 100px;
			font-weight: bold;
		}
	}
	&-upcoming {
		h3 {
			font-size: 20px;
		}
	}
	&-later {
		h3 {
			font-size: 15px;
		}
	}
}
