body{
	margin-bottom: 1em;
	font-family: helvetica;
}

.weather {
	&-box {
		border: 2px solid transparent;
		background-clip: padding-box;
		padding: 1px;
		text-align: center;
		background-color: #BCBCBC;
		min-height: 200px;
	}
	&-today {
		
	}
	&-upcoming {

	}
	&-later {

	}
}