<div class="container-fluid">
	<div class= "col-md-10 col-md-offset-1">
		<div ng-if="!load">
			<div class="alert alert-info">FORECASTING ... getting coordinates..</div>

			<button class="btn btn-block btn-warning" ng-click="loadDefault()">Skip this, use default</button>
			<div ng-show='isRouteLoading' class='loading-indicator'>" +
			  <div class="loading-indicator-body"> +
			    <h3 class="loading-title">Loading...</h3>" +
			    <div class="spinner"></div>
			  </div>
			</div>
		</div>

		<div ng-if="load && forecast.current" ng-init="forecast.getForecast()">
		<h1>WEATHER: <span ng-bind="forecast.checkType()"></span></h1>
			<div class="col-md-12 weather-box weather-now">
				<h3>now</h3>
				<img src="{{forecast.weather.now.icon}}">
				<span 
					class="now-summary"  
					ng-bind="forecast.weather.now.summary">
				</span>
				<span 
					class="now-temp"  
					ng-bind="forecast.weather.now.temp + '°'">
				</span>
			</div>

			<div 
				ng-if="forecast.weather.today" 
				class="col-md-6 weather-box weather-upcoming">
				<weather-block 
					weather="forecast.weather.today"
					name="'today'">					
				</weather-block>
			</div>

			<div 
				ng-if="forecast.weather.one" 
				class="col-md-6 weather-box weather-upcoming">
				<weather-block 
					weather="forecast.weather.one"
					name="'tomorrow'">					
				</weather-block>
			</div>

			<div 
				ng-if="forecast.weather.two" 
				class="col-md-3 weather-box weather-later">
				<weather-block 
					weather="forecast.weather.two"
					name="forecast.weather.two.date | amDateFormat:'dddd'">					
				</weather-block>
			</div>

		<div 
			ng-if="forecast.weather.three" 
			class="col-md-3 weather-box weather-later">
			<weather-block 
				weather="forecast.weather.three"
				name="forecast.weather.three.date | amDateFormat:'dddd'">					
			</weather-block>
		</div>

		<div 
			ng-if="forecast.weather.four" 
			class="col-md-3 weather-box weather-later">
			<weather-block 
				weather="forecast.weather.four"
				name="forecast.weather.four.date | amDateFormat:'dddd'">					
			</weather-block>
		</div>

		<div 
			ng-if="forecast.weather.five" 
			class="col-md-3 weather-box weather-later">
			<weather-block 
				weather="forecast.weather.five"
				name="forecast.weather.five.date | amDateFormat:'dddd'">					
			</weather-block>
		</div>
	</div>
</div>